body{
    margin: 0px;
    padding: 0px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    margin: 30px 0px 30px 0px;
    padding: 0px 130px 0px 130px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 200px;
}
.links{
    font-size: 18px;
    display: flex;
    list-style-type: none;
    list-style: none;
    gap: 30px;
}
.links a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}
.image img{
    width: 75%;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-size: 38px;
}
.content h2{
    font-size: 28px;
    margin: 0px; 
    color: rgb(109, 109, 109);
    margin-bottom: 20px;
    font-weight: 500;
}
.content button{
    border: none;
    background-color: rgb(72, 72, 255);
    color: #fff;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    font-size: 18px;
}
